/*
The stylesheet for the navbar specifically.
*/

#main-navbar {
    position: sticky;
    top: 0;
    padding: 1rem;
}

/* Removes the bullets */
#main-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}